<p>profile works!</p>


<!-- <div class="p-4 bg-primary d-flex justify-content-center mt-10"> -->

<div class="profile-card w-100 rounded-4 d-block position-relative p-4 fw-bold mt-5">
  <shared-card-header [title]="'Datos personales'" />
  <div class="row">
    <div class="col-5 d-flex justify-content-center align-items-center">
      <img src="/assets/profilepic_sensei.png" width="150" height="150" class="profile-picture">
    </div>
    <div class="col-7">
      <div class="row">
        <div class="col-2">
          <p>NOMBRE:</p>
          <p>EDAD:</p>
          <p>EMAIL:</p>
          <p>PAIS:</p>
        </div>
        <div class="col-6">
          <p>Julian Fernandez</p>
          <p>23</p>
          <p>julianfernandez1811&#64;gmail.com</p>
          <p>Argentina, Buenos Aires</p>
        </div>
      </div>
    </div>

  </div>

</div>

<!-- </div> -->
<div class="profile-card w-100 rounded-4 d-block position-relative p-4 fw-bold mt-5">
  <shared-card-header [title]="'Explicación del juego'" />
  <h4 class="text-center fw-bolder text-uppercase">¡Adivina mi numero!</h4>
  <hr>
  <div class="row">
    <div class="col-8">
      <h6 class="text-center fw-bolder text-uppercase">Explicación</h6>
      <p>Se trata de un juego donde se dará un numero aleatorio oculto entre 1 a 10. El usuario deberá adivinar cuál es
        ese número dentro de los 5 intentos.</p>
      <p>Si el usuario</p>
    </div>
    <div class="col-4 d-flex justify-content-center align-items-center ">
      <img src="/assets/gameRoomFull_icon.png" width="150" height="150">
    </div>
  </div>

</div>