<div class="profile-card w-100 rounded-4 d-block position-relative p-4 fw-bold mt-5">
  <shared-card-header [title]="'Datos personales'" />
  <div class="row">
    <div class="col-5 d-flex justify-content-center align-items-center">
      <img src="/assets/profilepic_sensei.png" width="150" height="150" class="profile-picture">
    </div>
    <div class="col-7">
      <div class="row">
        <div class="col-2">
          <p>NOMBRE:</p>
          <p>EDAD:</p>
          <p>EMAIL:</p>
          <p>PAIS:</p>
        </div>
        <div class="col-6">
          <p>Julian Fernandez</p>
          <p>23</p>
          <p>julianfernandez1811&#64;gmail.com</p>
          <p>Argentina, Buenos Aires</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="profile-card w-100 rounded-4 d-block position-relative p-4 fw-bold mt-5">
  <shared-card-header [title]="'Explicación del juego'" />
  <h4 class="text-center fw-bolder text-uppercase">¡Adivina mi numero!</h4>
  <hr>
  <div class="row">
    <div class="col-9">
      <h5 class="text-center fw-bolder text-uppercase">Explicación</h5>
      <p>
        Se trata de un juego donde se le dará al jugador un numero aleatorio oculto entre 1 a 20. El objetivo del juego
        es adivinar qué numero es en la menor cantidad de intentos posible.</p>
      <p>
        Al acertar el número, cuanto menor sea la cantidad de intentos que se realizó, más puntaje recibirá el jugador.
      </p>
      <p>Por cada intento que se hará, la pantalla mostrará algunos de los siguientes tres estados:</p>
      <ul>
        <li>📉 ¡Demasiado bajo!</li>
        <p class="mx-lg-4">Se dará cuando el numero elegido está por debajo del numero aleatorio generado</p>
        <li>📈 ¡Demasiado alto!</li>
        <p class="mx-lg-4">Se dará cuando el numero elegido está por encima del numero aleatorio generado</p>
        <li>✅ ¡Correcto!</li>
        <p class="mx-lg-4">Se dará cuando el numero elegido es igual al número aleatorio generado</p>
      </ul>


      <h5 class="text-center fw-bolder text-uppercase mt-5">Sistema de puntuación</h5>
      <p>
        Se aplicará la siguiente fórmula para calcular el puntaje: puntaje_maximo * (cantidad_intentos / puntaje_maximo)
      </p>
      <p>La cantidad de puntaje máximo será un valor seteado en 10.</p>
    </div>
    <div class="col-3 d-flex justify-content-center align-items-center">
      <img src="/assets/gameRoomFull_icon.png" width="150" height="150">
    </div>
  </div>
</div>