.profile-card {
  background: linear-gradient(150deg, rgba(15,15,162,1) 0%, rgba(0,0,0,1) 100%);
  border-color: #6b84ff;
  color:#ebf1ff;
}

.profile-title {
  color: #fd8e30;
}

.profile-subtitle {
  color: #ffd8a9;
}