<div class="p-1 mt-16">
  <p class="text-5xl text-center text-white">Crear Cuenta</p>

  <div class="flex justify-center">

    <div class="bg-slate-700 mt-10 flex-1 rounded-2xl">
      <form [formGroup]="registerForm" (ngSubmit)="onRegister()"
        class="flex justify-center rounded-xl border-t-8 border-cyan-800 shadow-lg shadow-black">
        <div class="bg-slate-700 rounded-2xl flex justify-center w-1/2 mt-7">
          <div class="grid grid-rows-3 gap-5 w-full">

            <div>
              <p class="text-xl font-bold text-white">Nombre de Usuario</p>
              <input type="email"
                class="form-control shadow border-2 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:border-blue-800 focus:bg-white"
                formControlName="username" placeholder="Escriba su nombre de usuario">

              <span *ngIf="isValidField('username')" class="text-red-500">
                {{ getFieldError('username') }}
              </span>
            </div>

            <div>
              <p class="text-xl font-bold text-white">Correo</p>
              <input type="email"
                class="form-control shadow border-2 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:border-blue-800 focus:bg-white"
                formControlName="email" placeholder="Escriba su correo">

              <span *ngIf="isValidField('email')" class="text-red-500">
                {{ getFieldError('email') }}
              </span>
            </div>

            <div>
              <p class="text-xl font-bold text-white">Contraseña</p>

              <div class="flex">
                <input [type]="showPassword ? 'text' : 'password'"
                  class="form-control shadow border-2 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:border-blue-800 focus:bg-white"
                  formControlName="password" placeholder="Escriba su contraseña">
                <label (click)="togglePassword()" [ngClass]="'hover:bg-blue-800 rounded px-2 py-2 text-white font-mono cursor-pointer select-none ' +
                    (showPassword ? 'bg-green-500' : 'bg-slate-400')">Mostrar</label>
              </div>
              <span *ngIf="isValidField('password')" class="text-red-500">
                {{ getFieldError('password') }}
              </span>
            </div>

            <div>
              <button [disabled]="registerForm.invalid" type="submit" [ngClass]="'font-bold py-2 px-4 rounded-lg ' +
                (!registerForm.invalid ? 'text-white bg-slate-400 hover:bg-blue-800' : 'text-gray-400 bg-slate-600')">
                Crear
              </button>
            </div>
          </div>
        </div>
      </form>
      <p class="font-light italic text-center bg-slate-400 rounded-2xl select-none shadow-lg shadow-black">¿Ya tenés cuenta?
        <a (click)="toLogin()" class="underline text-blue-800 cursor-pointer">¡Inicia sesión!</a>
      </p>
    </div>
  </div>

</div>